
<div>

    <svg width="124.13758mm"
         height="99.016502mm"
         viewBox="0 0 124.13758 99.016502"
         version="1.1"
         id="svg282"
         inkscape:version="1.1 (c68e22c387, 2021-05-23)"
         sodipodi:docname="LogoOregenal.svg"
         xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
         xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:svg="http://www.w3.org/2000/svg">
        <sodipodi:namedview id="namedview284"
                            pagecolor="#ffffff"
                            bordercolor="#666666"
                            borderopacity="1.0"
                            inkscape:pageshadow="2"
                            inkscape:pageopacity="0.0"
                            inkscape:pagecheckerboard="0"
                            inkscape:document-units="mm"
                            showgrid="false"
                            fit-margin-top="0"
                            fit-margin-left="0"
                            fit-margin-right="0"
                            fit-margin-bottom="0"
                            inkscape:zoom="0.72337262"
                            inkscape:cx="295.14526"
                            inkscape:cy="188.69943"
                            inkscape:window-width="1920"
                            inkscape:window-height="1001"
                            inkscape:window-x="-9"
                            inkscape:window-y="-9"
                            inkscape:window-maximized="1"
                            inkscape:current-layer="layer1" />
        <defs id="defs279" />
        <g inkscape:label="Layer 1"
           inkscape:groupmode="layer"
           id="layer1"
           transform="translate(88.769533,-98.625987)">
            <g transform="matrix(0.05644444,0,0,-0.05644444,-176.87469,278.62625)"
               fill="#1E88E5"
               stroke="none"
               id="g398">
                <path id="path396"
                      d="m 3311.9,3184.6 c -11,-7 -7,-25 20,-92 30,-77 33,-95 37,-214 4,-142 -5,-154 -31,-43 -9,37 -28,93 -43,125 -26,55 -97,143 -115,143 -17,0 -8,-23 22,-58 43,-49 74,-119 100,-227 12,-49 23,-96 25,-102 2,-8 20,-13 42,-13 37,0 40,2 80,73 59,102 66,128 59,214 -6,79 -14,97 -34,85 -10,-6 -10,-20 -1,-64 11,-51 10,-61 -16,-131 -39,-108 -55,-116 -48,-27 6,84 -9,172 -45,260 -31,77 -34,82 -52,71 z m 349,-1590 c -39,-39 -39,-69 0,-84 32,-12 42,-47 14,-47 -10,0 -14,6 -10,15 7,20 -18,20 -34,0 -38,-45 39,-62 90,-19 40,35 37,65 -8,76 -26,7 -33,13 -30,30 5,32 28,35 28,3 0,-29 17,-30 34,-2 8,12 8,22 0,35 -18,29 -51,26 -84,-7 z m -122,10 c -32,-26 -56,-104 -38,-126 18,-22 55,-18 87,9 33,29 26,45 -10,21 -24,-15 -26,-15 -32,5 -7,23 12,80 26,80 13,0 11,-21 -5,-52 -18,-34 -7,-36 23,-4 29,30 26,80 -5,84 -11,2 -32,-6 -46,-17 z m -198,-1 c -5,-10 -13,-43 -18,-75 -7,-45 -6,-58 5,-62 26,-10 45,18 40,59 -3,21 -1,41 4,44 5,3 9,-4 9,-16 0,-12 5,-18 10,-15 6,3 10,23 10,44 0,35 -3,39 -25,39 -14,0 -30,-8 -35,-18 z m -447,-5 c -52,-41 -67,-123 -26,-139 17,-7 63,18 63,34 0,6 5,10 10,10 6,0 10,-9 10,-21 0,-15 5,-20 23,-17 21,3 22,7 20,72 -2,43 -7,72 -15,78 -23,14 -52,8 -85,-17 z m 45,-30 c -3,-14 -1,-25 4,-25 13,0 0,-18 -22,-30 -26,-14 -32,9 -13,48 18,38 37,42 31,7 z m 282,52 c -29,-15 -70,-72 -70,-98 0,-29 36,-59 70,-59 45,0 80,39 80,89 0,44 -10,55 -40,46 -16,-5 -17,-10 -8,-30 14,-32 2,-77 -20,-73 -36,7 -26,92 13,110 26,12 34,28 13,28 -7,0 -24,-6 -38,-13 z m -156,28 c -34,-45 -57,-127 -44,-160 13,-35 61,-34 89,1 31,39 28,64 -4,34 -18,-17 -28,-21 -36,-13 -14,14 5,101 26,130 19,24 19,4 -1,-53 -8,-25 -14,-48 -11,-50 2,-2 14,7 27,21 18,19 24,37 24,73 1,41 -2,47 -21,50 -15,2 -29,-8 -49,-33 z m -353,-2 c -22,-22 -44,-57 -52,-81 -11,-39 -10,-45 8,-70 34,-46 124,-35 154,19 16,31 5,33 -38,8 -72,-41 -89,-2 -41,94 34,67 51,41 22,-33 -9,-23 -14,-43 -11,-46 3,-3 20,8 38,24 26,24 32,36 33,73 1,44 1,44 -37,47 -33,3 -43,-2 -76,-35 z m 740,34 c -6,-8 -10,-27 -10,-43 1,-16 -6,-54 -15,-84 -18,-60 -13,-93 12,-88 23,4 49,114 34,139 -8,12 -8,20 -2,24 12,8 13,52 1,59 -5,3 -14,0 -20,-7 z m -1186,553 c -8,-13 3,-30 21,-30 18,0 18,14 0,29 -10,8 -16,9 -21,1 z m 11,41 c -4,-5 3,-15 15,-21 18,-10 20,-9 17,6 -4,20 -23,30 -32,15 z m 18,37 c -4,-5 0,-14 7,-19 20,-13 29,-11 29,5 0,18 -27,29 -36,14 z m 26,28 c 0,-15 24,-28 34,-19 7,7 -13,33 -25,33 -5,0 -9,-6 -9,-14 z m 26,37 c -7,-7 13,-33 25,-33 5,0 9,6 9,14 0,15 -24,28 -34,19 z m 34,23 c 0,-18 17,-29 30,-21 8,5 7,11 -1,21 -15,18 -29,18 -29,0 z m 36,19 c -2,-7 2,-16 10,-19 22,-8 24,-8 24,8 0,19 -27,28 -34,11 z m 44,12 c 0,-8 7,-18 16,-21 11,-4 14,-1 12,11 -4,21 -28,30 -28,10 z m 85,24 c -3,-5 -14,-7 -25,-4 -23,6 -27,-9 -6,-26 10,-9 16,-9 21,-1 4,6 15,8 26,5 13,-4 19,-2 19,8 0,17 -27,30 -35,18 z m -80,55 c -248,-60 -390,-328 -309,-578 9,-27 18,-48 21,-48 4,0 31,7 62,16 31,9 62,18 70,21 11,3 9,8 -6,26 -59,64 -90,174 -74,261 14,74 43,129 97,182 146,142 406,95 489,-88 49,-110 39,-214 -31,-317 -2,-2 -15,6 -30,18 -34,26 -84,27 -117,1 -14,-11 -29,-20 -33,-20 -6,0 -64,48 -171,144 -13,10 -26,17 -29,14 -3,-4 37,-50 88,-103 83,-86 94,-101 98,-141 5,-41 4,-44 -16,-44 -13,0 -25,-3 -28,-8 -4,-6 13,-183 18,-189 5,-6 151,39 187,57 92,48 174,153 204,264 13,47 16,89 13,159 -3,81 -8,103 -36,160 -51,103 -151,179 -279,212 -67,18 -119,18 -188,1 z m 444,-247 c 64,-147 18,-345 -104,-458 -52,-47 -141,-91 -184,-91 -36,0 -43,82 -11,123 13,17 20,40 20,71 0,66 27,77 133,50 49,-12 94,50 117,159 12,62 5,123 -25,193 -20,49 -19,51 9,25 13,-13 34,-45 45,-72 z m -673,-316 c -9,-22 -36,-14 -46,13 -6,14 -10,49 -10,77 l 1,52 30,-65 c 16,-35 27,-70 25,-77 z m 22,729 c -34,-4 -35,-16 -6,-58 36,-52 134,-96 167,-75 20,13 5,63 -29,96 -29,28 -82,43 -132,37 z m 93,-62 c 23,-19 23,-19 4,-20 -21,0 -45,17 -45,32 0,14 17,9 41,-12 z m 435,111 c -1,-3 1,-57 5,-118 l 9,-113 60,-60 c 95,-95 140,-205 140,-343 0,-108 -43,-232 -111,-318 -53,-68 -51,-69 144,-69 h 172 l 23,188 c 13,103 23,201 22,219 0,37 8,63 21,63 5,0 9,-12 9,-27 -1,-16 21,-121 47,-235 l 48,-207 190,6 c 104,3 192,7 194,9 2,2 -6,173 -18,381 -12,208 -24,428 -28,490 l -6,112 -111,3 c -61,2 -111,3 -112,3 -2,0 25,-622 30,-677 5,-76 -7,-90 -24,-25 -6,23 -28,93 -49,156 l -38,113 33,20 c 44,26 43,31 -4,23 -37,-6 -39,-5 -49,30 -12,39 -8,43 62,61 40,10 29,26 -12,19 -21,-4 -45,-9 -54,-11 -11,-3 -19,7 -27,35 -17,55 -17,55 38,75 67,24 64,37 -5,21 l -56,-13 -14,29 c -8,15 -15,30 -15,33 0,2 25,12 55,21 30,8 55,20 55,26 0,7 -10,9 -22,6 -86,-21 -93,-20 -105,12 -11,30 -13,31 -76,31 h -64 l -17,-122 c -9,-68 -27,-204 -41,-303 -26,-188 -31,-276 -16,-259 18,19 32,87 66,339 20,143 40,271 46,284 8,19 14,22 37,16 38,-9 52,-24 52,-54 0,-15 6,-35 14,-46 7,-11 16,-41 20,-66 4,-26 13,-55 21,-65 8,-11 14,-28 15,-39 0,-22 5,-40 71,-244 43,-134 77,-195 104,-185 31,12 35,73 24,381 -6,167 -9,310 -5,318 9,23 123,21 130,-2 2,-10 10,-101 15,-203 6,-102 13,-214 16,-250 2,-36 7,-117 10,-180 3,-63 8,-142 11,-176 3,-43 1,-64 -8,-71 -20,-16 -272,-25 -291,-10 -9,7 -33,85 -60,194 -44,182 -64,233 -92,233 -31,0 -46,-49 -70,-235 -15,-115 -30,-192 -38,-197 -15,-9 -117,-10 -180,-2 l -46,7 29,51 c 15,28 41,88 56,134 l 27,83 -17,312 c -9,171 -18,323 -19,337 -2,23 -7,25 -110,41 -59,8 -109,13 -111,10 z m 133,-57 c 17,-4 36,-14 40,-23 5,-9 12,-79 15,-156 l 7,-140 -21,25 c -12,14 -44,51 -71,82 -46,53 -50,63 -56,122 -3,35 -3,72 0,80 7,17 34,20 86,10 z m -442,38 c -35,-36 -43,-79 -23,-125 18,-45 29,-46 66,-8 38,37 46,73 28,119 -17,46 -36,50 -71,14 z m 24,-85 c -8,-8 -11,-5 -11,9 0,27 14,41 18,19 2,-9 -1,-22 -7,-28 z m -441,147 c -176,-24 -355,-44 -389,-44 h -34 l 6,-157 c 3,-87 11,-369 17,-628 7,-258 13,-475 15,-480 2,-7 45,-8 126,-3 254,14 576,28 647,28 h 74 l -7,173 c -7,185 -13,278 -18,284 -2,1 -23,-3 -48,-11 -24,-8 -91,-26 -149,-41 -58,-15 -143,-38 -190,-50 -47,-13 -86,-22 -88,-20 -2,2 8,75 22,162 14,87 41,262 61,388 19,127 42,268 50,315 17,98 18,100 8,99 -5,-1 -51,-7 -103,-15 z m 53,-51 c 3,-5 -26,-204 -64,-443 -67,-428 -68,-435 -50,-460 24,-32 75,-31 186,3 119,36 265,70 273,63 3,-4 10,-80 14,-169 7,-138 6,-164 -7,-173 -9,-7 -88,-14 -188,-18 -94,-4 -255,-11 -356,-17 -148,-8 -187,-7 -197,3 -9,10 -15,132 -23,458 -6,245 -14,501 -17,570 -3,69 -1,130 3,137 5,7 78,20 173,31 185,22 247,25 253,15 z m -546,130 c -13,-12 -7,-23 11,-23 11,0 35,-16 55,-35 36,-35 68,-43 97,-25 9,5 19,5 27,-2 10,-8 13,-6 13,9 0,21 -30,53 -67,72 -23,12 -125,15 -136,4 z m 382,153 c -55,-19 -94,-51 -128,-103 -40,-60 -47,-88 -30,-121 12,-25 13,-26 16,-6 3,17 13,23 44,27 61,8 82,28 103,93 10,34 31,73 49,92 l 31,32 h -25 c -13,-1 -40,-7 -60,-14 z m -35,-98 c -9,-33 -34,-58 -56,-58 -24,0 -23,7 8,47 29,39 59,45 48,11 z" />
            </g>
        </g>
    </svg>

</div>

@code {
    [Parameter]
    public int SizeW { get; set; } = 500;
    [Parameter]
    public int SizeH { get; set; } = 500;
    [Parameter]
    public string Color { get; set; } = "white";
}
